<div class="pt-xl pb-xl container">
  <div class="max-xxl mx-auto">
    <h1 class="mb-md">Terms and Conditions </h1>

    <div class="bg-light-primary p-lg rounded-3 mt-md" *ngFor="let paragraph of termsConditions" >
      <h4 [innerHTML]="paragraph?.title || paragraph?.titleAr" ></h4>
      <p [innerHTML]="paragraph?.description || paragraph?.descriptionAr" >
      </p>
    </div>

    <!-- <div class="bg-light-primary p-lg rounded-3 mt-md">
      <h4>Password</h4>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
        at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
        opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
        packages.</p>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
        at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
        opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
        packages.</p>
    </div>

    <div class="bg-light-primary p-lg rounded-3 mt-md">
      <h4>Our Policies</h4>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
        at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
        opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
        packages.</p>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
        at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
        opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
        packages.</p>
    </div>

    <div class="bg-light-primary p-lg rounded-3 mt-md">
      <h4>Fees and Payments</h4>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
        at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
        opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
        packages.</p>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
        at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
        opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
        packages.</p>
    </div>

    <div class="bg-light-primary p-lg rounded-3 mt-md">
      <h4>Returns</h4>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
        at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
        opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
        packages.</p>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
        at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
        opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
        packages.</p>
    </div>
 -->

  </div>
</div>

