@import "src/assets/style/global";

.placeholder {
  animation: shimmer 1.2s ease-in-out infinite;
  &-thumb {
    padding-top: aspectRatio(1, 1);
    background: rgba($dark, 0.04);
    &.is-2-1 {
      padding-top: aspectRatio(2, 1);
    }
    &.is-3-2 {
      padding-top: aspectRatio(3, 2);
    }
  }
  &-line {
    background: rgba($dark, 0.04);
    height: rem(24px);
    width: 100%;
    &.is-lg {
      @include rfs(40px, height);
    }
    &.is-xl {
      @include rfs(50px, height);
    }
  }
  &-circle {
    background: rgba($dark, 0.04);
    display: inline-flex;
    width: rem(50px);
    height: rem(50px);
  }
  &.is-product {
    .placeholder-thumb {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        right: rem(10px);
        top: rem(10px);
        height: rem(30px);
        width: rem(30px);
        background: $white;
      }
      &:before {
        content: "";
        position: absolute;
        right: rem(10px);
        top: rem(50px);
        height: rem(30px);
        width: rem(30px);
        background: $white;
      }
    }
  }
}
@keyframes shimmer {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.8;
  }
}
