<div class="pt-xl pb-xl container">
  <div class="max-xl mx-auto">
    <h1 class="mb-lg">Privacy Policy </h1>
    <div [innerHTML]="privacyPolicy" >
      <!-- <h4>How do I return an item(s)?</h4>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when
        looking
        at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
        letters,
        as opposed to using 'Content here, content here', making it look like readable English. Many desktop
        publishing packages.</p>
      <h4>How does it work?
      </h4>
      <p>Go to “My Account”</p>
      <p>Click on “Account Information”, then “Return Form”</p>
      <p>Select the order (s) you want to return from the list.</p>
      <p>Select the most appropriate return reason.</p>
      <p>Add your comments.</p>
      <p>Attach a photo for the product.</p>
      <p>Add contact telephone number.</p>
      <p>Or by contacting us (Arrange a Return, Replacement or Exchange). You may contact us through email.</p>

      <h4>Non-returnable Products.</h4>
      <p>No return, replace or exchange products in respect of: </p>
      <ol>
        <li> Products that have been used or damaged by you or are not in the same condition as you received
          them.</li>

        <li> Any consumable product which has been used or installed.</li>
        <li> Products with tampered or missing serial numbers; or</li>
        <li> Products that fall under specific categories, including food, beverages, household goods, swimwear,
          hosiery, underwear, socks, footware, books, CDs/DVDs, potty training items, maternity belt, health,
          hygiene related and personal care products and certain baby products (e.g. tethers, diapers, baby
          wipes, hygiene tissues, feeding related products).</li>
        <li> Personalized items which you requested to be designed especially for you.</li>
        <li> Items on sale.</li>
        <li> Items that are not in original condition and packaging.</li>
        <li> Damaged items due to misuse or showing signs of wear and tear, even if they still under warranty
          period.</li>
        <li> Items that have been assembled, used, altered, or installed unless defective.</li>
        <li> Item that were sealed and required their hygienic level to be intact from the manufacturer.</li>
        <li> Santa delivery orders are not eligible for returns.</li>
        <li> Orders shipped to international destinations [Outside UAE and KSA].</li>
        <li> I changed my mind.</li>
        <li> I found a better price. We offer our shoppers a best price guarantee. If you find any of our
          products in the GCC for cheaper, we’ll match that price to offer you the best possible deal every
          time.</li>
        <li> Ordered by mistake.</li>
        <li> Ordered the wrong color or the wrong size.</li>
      </ol> -->
    </div>
  </div>

</div>
