<div>
  <h1 class="fs-lg mb-lg">My cart ( 3 items )</h1>

  <div class="row">
    <div class="col-lg-8">
      <table class="cartTable">
        <tbody>
          <tr *ngFor="let item of [].constructor(4); let i = index">
            <td>
              <div class="d-flex align-items-center">
                <div class="max-80 w-100 me-xxs">
                  <app-image ratio="is-1-1"></app-image>
                </div>
                <span class="">Sleeved Jersey Shirt</span>
              </div>
            </td>
            <td>
              <select class="form-select form-select-sm  max-80" aria-label="Default select example">
                <option selected>1</option>
                <option value="1">2</option>
                <option value="2">3</option>
                <option value="3">4</option>
              </select>
            </td>
            <td class=" text-primary">9234 EGP</td>
            <td>
              <button class="btn btn-sm btn-link  rouded-pill">
                <svg-icon src="assets/icons/delete.svg"></svg-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class=" mt-sm">


        <div class="form-check mb-xs">
          <input class="form-check-input" type="checkbox" value="" id="gift">
          <label class="form-check-label max-sm" for="gift">
            This order is a gift <br> <small class="text-muted">Prices will be hidden when shipped</small>
          </label>
        </div>
        <div class="mb-xs ">
          <div class="form-check mb-xxs">
            <input class="form-check-input" type="checkbox" value="" id="giftMessage">
            <label class="form-check-label max-sm" for="giftMessage">
              Add gift message for free
            </label>
          </div>
          <textarea class="form-control"></textarea>
        </div>
      </div>


    </div>
    <div class="col-lg-4">
      <div class="border p-lg ">
        <h4 class="mb-sm ">Checkout Summary</h4>

        <div class="d-flex align-items-center justify-content-between mb-xs">
          <span>Subtotal</span>
          <span>EGP 3747</span>
        </div>

        <div class="d-flex align-items-center justify-content-between mb-xs">
          <span>Shipping</span>
          <span class="">Free</span>
        </div>

        <div class="d-flex align-items-center justify-content-between">
          <span class="fw-bold">TOTAL</span>
          <span class=" text-primary">EGP 3747</span>
        </div>
      </div>
      <div class="border  p-lg mt-md  ">
        <div>
          <label class="form-label">Promocode</label>
          <div class="d-flex">
            <input type="email" class="form-control">
            <button class="btn btn-dark  ">Apply</button>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="text-center mt-lg">
    <button class="btn btn-primary  me-xs ps-lg pe-lg">Continue</button>
    <button class="btn btn-link ">Continue shopping</button>

  </div>
</div>
