<div class="pt-xl pb-xl container">

  <h1 class="mb-md">About us</h1>

  <app-image ratio="is-3-1" [src]="aboutUs?.images[0]" ></app-image>
  <div class="max-xl  mt-lg">
    <h5 [innerHTML]="aboutUs?.section1Title || aboutUs?.section1TitleAr"></h5>
    <p [innerHTML]="aboutUs?.section1Description || aboutUs?.section1DescriptionAr"></p>
    <h5 [innerHTML]="aboutUs?.section2Title || aboutUs?.section2TitleAr"></h5>
    <p [innerHTML]="aboutUs?.section2Description || aboutUs?.section2DescriptionAr"></p>
    <!-- <h5></h5>
    <p></p> -->
  </div>

</div>


<!-- <div class="pt-xl pb-xl container">

  <h1 class="mb-md">About us</h1>

  <app-image ratio="is-3-1"  ></app-image>
  <div class="max-xl  mt-lg">
    <p>Romeo is a men’s fashion brand that is located in both Dubai and Egypt. The brand will kick off its operations
      online with two branches in Dubai and Cairo. The brand concept is bringing a totally new way of thinking to the
      industry as it will be always acting as the man fashion advisor. As when a new men clothes brand opens, they work
      on manufacturing a collection and simply leaving the choice for the buyers. While in Romeo me, we shall be
      fighting against the public known tradition and helping people with picking up elegant classic outfits. So instead
      of selling one item at a time, we shall be selling bundled pieces that go perfectly with each other.
      For instance, our package will include ( Blazer, pants, shirts, socks, tie, bracelet, shoes, belt) and you can
      surely buy it all or customize certain pieces as long as you will buy a set that is fashionable.
    </p>
    <h4 class="mb-md">At Romeo we aspire for you to</h4>
    <h5>Be Elegance</h5>
    <p>as they are keen on manufacturing with patterns that is a perfect fit with the high end taste incorporated.as
      they are keen on manufacturing with patterns that is a perfect fit with the high end taste incorporated.</p>
    <h5>Be Quality</h5>
    <p>The raw materials are imported and the accessories of every piece like buttons, metals and even the small
      stitches are exclusively made for Romeo me.The raw materials are imported and the accessories of every piece like
      buttons, metals and even the small stitches are exclusively made for Romeo</p>
    <h5>Be Trendy</h5>
    <p>Always updated with the latest fashion in classic wear and manufacturing it as the leader of the field.Always
      updated with the latest fashion in classic wear and manufacturing it as the leader of the field.</p>
  </div>

</div> -->
