<div>
  <h1 class="fs-lg mb-lg">Shipping Details </h1>

  <div class="row">
    <div class="col-lg-8">

      <h3 class="mb-xs">Payment Method </h3>


      <div class="row">
        <div class="col-md-6">
          <label class="bg-light-primary p-sm mb-xs w-100">
            <div class="d-flex align-items-center">
              <input class="form-check-input me-sm" type="radio" value="" name="payment">
              <div>
                <p class="mb-0 ">Credit Card</p>
              </div>
            </div>
          </label>
        </div>
        <div class="col-md-6">

          <label class="bg-light-primary p-sm mb-xs w-100">
            <div class="d-flex align-items-center">
              <input class="form-check-input me-sm" type="radio" value="" name="payment">
              <div>
                <p class="mb-0 ">Cash On Delivert</p>
              </div>
            </div>
          </label>
        </div>
      </div>



      <div class="row">

        <div class="col-md-12 mb-xs">
          <label class="form-label">Name on card</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-12 mb-xs">
          <label class="form-label">Card number</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-6 mb-xs">
          <label class="form-label">Expiration Date</label>
          <input type="text" class="form-control">
        </div>

        <div class="col-md-6 mb-xs">
          <label class="form-label">CVV</label>
          <input type="text" class="form-control">
        </div>

      </div>




    </div>
    <div class="col-lg-4">
      <div class="border p-lg ">
        <h4 class="mb-sm ">Checkout Summary</h4>

        <div class="d-flex align-items-center justify-content-between mb-xs">
          <span>Subtotal</span>
          <span>EGP 3747</span>
        </div>

        <div class="d-flex align-items-center justify-content-between mb-xs">
          <span>Shipping</span>
          <span class="">Free</span>
        </div>

        <div class="d-flex align-items-center justify-content-between">
          <span class="fw-bold">TOTAL</span>
          <span class=" text-primary">EGP 3747</span>
        </div>
      </div>
      <div class="border  p-lg mt-md  ">
        <div>
          <label class="form-label">Promocode</label>
          <div class="d-flex">
            <input type="email" class="form-control">
            <button class="btn btn-dark  ">Apply</button>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="text-center mt-lg">
    <button class="btn btn-link ">Back</button>
    <button class="btn btn-primary  me-xs ps-lg pe-lg">Continue</button>

  </div>
</div>
