<div>
  <h1 class="fs-lg mb-lg">Shipping Details </h1>

  <div class="row">
    <div class="col-lg-8">

      <div class="d-flex justify-content-between flex-wrap align-items-center">
        <h3 class="mb-xs">My Address (2/1) </h3>
        <button class="btn btn-link   mb-xs">Add new address</button>
      </div>
      <label class="bg-light-primary p-sm mb-xs w-100">
        <div class="d-flex align-items-center">
          <input class="form-check-input me-sm" type="radio" value="" name="address">
          <div>
            <p class="mb-0 fw-medium">Joe Doe</p>
            <p class="mb-0">38473 Lorem ipsum doler cumul trommel truca betyul stori.</p>
            <p class="mb-0">Cairo , Maadi</p>
          </div>
        </div>
      </label>

      <label class="bg-light-primary p-sm mb-xs w-100">
        <div class="d-flex align-items-center">
          <input class="form-check-input me-sm" type="radio" value="" name="address">
          <div>
            <p class="mb-0 fw-medium">Joe Doe</p>
            <p class="mb-0">38473 Lorem ipsum doler cumul trommel truca betyul stori.</p>
            <p class="mb-0">Cairo , Maadi</p>
          </div>
        </div>
      </label>


      <div class="mt-md">
        <h3 class="mb-xs">Contact details </h3>

        <div class="row">

          <div class="col-md-6 mb-xs">
            <label class="form-label">First Name</label>
            <input type="text" class="form-control">
          </div>


          <div class="col-md-6 mb-xs">
            <label class="form-label">Last Name</label>
            <input type="text" class="form-control">
          </div>


          <div class="col-md-6 mb-xs">
            <label class="form-label">Email Address</label>
            <input type="email" class="form-control">
          </div>

          <div class="col-md-6 mb-xs">
            <label class="form-label">Mobile number</label>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>


    </div>
    <div class="col-lg-4">
      <div class="border p-lg ">
        <h4 class="mb-sm ">Checkout Summary</h4>

        <div class="d-flex align-items-center justify-content-between mb-xs">
          <span>Subtotal</span>
          <span>EGP 3747</span>
        </div>

        <div class="d-flex align-items-center justify-content-between mb-xs">
          <span>Shipping</span>
          <span class="">Free</span>
        </div>

        <div class="d-flex align-items-center justify-content-between">
          <span class="fw-bold">TOTAL</span>
          <span class=" text-primary">EGP 3747</span>
        </div>
      </div>
      <div class="border  p-lg mt-md  ">
        <div>
          <label class="form-label">Promocode</label>
          <div class="d-flex">
            <input type="email" class="form-control">
            <button class="btn btn-dark  ">Apply</button>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="text-center mt-lg">
    <button class="btn btn-link ">Back</button>
    <button class="btn btn-primary  me-xs ps-lg pe-lg">Continue</button>

  </div>
</div>
