<div class="pt-xl pb-xl container">
  <div class="max-md mx-auto">
    <h1 class="text-center fs-xl mb-lg">Forget your password</h1>
    <form class="row mb-100 needs-validation" [formGroup]="resetPasswrdForm" (ngSubmit)="sendForgetPass()" novalidate>

      <div class="mb-xs">
        <label class="form-label">Email Address</label>
        <input type="email" class="form-control" pattern="[^@\s]+@[^@\s]+\.[^@\s]+"  formControlName="email"
        [class.is-invalid]="email?.hasError('required') && (email?.dirty || email?.touched) ||
        email?.hasError('pattern') && (email?.dirty || email?.touched) ||
         email?.hasError('required') && (email?.dirty || email?.touched)">

        <div class="invalid-feedback" *ngIf="email?.hasError('required') && (email?.dirty || email?.touched)">
          Email Address is Rquired
        </div>

        <div class="invalid-feedback" *ngIf="email?.hasError('pattern') && (email?.dirty || email?.touched)">
          Please enter avalid email address
        </div>

      </div>

      <button class="btn btn-dark w-100" [disabled]="isSubmitting || resetPasswrdForm.invalid" >Submit</button>

    </form>
    <div class="text-center mt-sm">

      <p>
        <span> Back to </span>
        <a [routerLink]="['/auth/login']" title="Login" class="fw-bold ">Login</a>
      </p>
    </div>
  </div>
</div>
