<div class="pt-xl pb-xl container">
  <div class="checkoutSteps">
    <div class="checkoutSteps-item is-active">
      <span class="checkoutSteps-item-num">1</span>
      <span class="checkoutSteps-item-title">My Cart</span>
    </div>
    <div class="checkoutSteps-line"></div>
    <div class="checkoutSteps-item">
      <span class="checkoutSteps-item-num">2</span>
      <span class="checkoutSteps-item-title">Shipping Details</span>
    </div>
    <div class="checkoutSteps-line"></div>
    <div class="checkoutSteps-item">
      <span class="checkoutSteps-item-num">3</span>
      <span class="checkoutSteps-item-title">Payment method</span>
    </div>
    <div class="checkoutSteps-line"></div>
    <div class="checkoutSteps-item">
      <span class="checkoutSteps-item-num">4</span>
      <span class="checkoutSteps-item-title">Recipie</span>
    </div>
  </div>

  <div class="mt-xl">
    <checkout-cart></checkout-cart>
    <!-- <checkout-shipping></checkout-shipping> -->
    <!-- <checkout-payment></checkout-payment> -->
    <!-- <checkout-success></checkout-success> -->
  </div>
</div>
