@import "src/assets/style/global";

.checkoutSteps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-item {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    @include media-breakpoint-down(sm) {
      &-title {
        max-width: 100px;
        font-size: rem(12px);
      }
    }
    &-num {
      @include rfs(40px, width);
      @include rfs(40px, height);
      border: 1px dashed $primary;
      background: $white;
      color: $primary;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-right: 0.4em;

      user-select: none;

      @include media-breakpoint-down(md) {
        margin: 0 0 0.4em;
      }
    }
    &.is-active {
      color: $primary;

      .checkoutSteps-item-num {
        background: $primary;
        color: $white;
      }
    }
  }
  &-line {
    flex: 1 1 0%;
    height: 1px;
    border-top: 1px dashed $primary;
    margin: 0 1px;
    background: none;
    margin-left: rem(4px);
  }
}
